* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html{
	width: 100%;
	height: 100%;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
	background: #860000;
	background: -moz-linear-gradient(top, #860000 0%, #b51402 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #860000), color-stop(100%, #b51402));
	background: -webkit-linear-gradient(top, #860000 0%, #b51402 100%);
	background: -o-linear-gradient(top, #860000 0%, #b51402 100%);
	background: -ms-linear-gradient(top, #860000 0%, #b51402 100%);
	background: linear-gradient(to bottom, rgba(134, 0, 0, 0.85) 0%, rgba(182, 20, 2, 0.85) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#840000', endColorstr='#d11800', GradientType=0 );
    font-family: Verdana, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;Verdana
    padding:0px;
    width:100%;
}

form {
    height: 50%;
    width: 90%;
    bottom: 5%;
	left: 5%;
    position: absolute;
	text-align: center;
}

input {
    -webkit-appearance: none;
    border: 0px solid transparent;
    border-radius: 4px;
    height: 45px;
    width: 90%;
    margin: 5px 0;
    padding-left: 20px;
    box-sizing: border-box;
    font-family: Courier;
	font-size: 20px;
	position: relative
}

input:focus, input:active{
	outline:none;
}

.error{
	background-color: #fd8b53;
}

button {
    width: 60%;
    height: 40px;
    margin: 15px 2.5%;
    box-sizing: border-box;
	font-size: 20px;
	letter-spacing: 0.5px;
	border:1px solid transparent;
	border-radius: 5px;
	box-shadow: 0px 8px 0px rgba(0,0,0,0.4);
	position: relative;
	background-color: white;
	font-weight: bold;
	color: #b51402;
}

button:focus, button:active {
    outline: none;
    box-shadow: none;
    top: 8px;
}

#wrapper {
    background-color: #0000006b;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
	visibility: hidden;
}

.spinner {
    display: block;
    color: white;
    position: absolute;
    top: 46%;
    left: 46%;
}
